<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Lambert vous écoute quand vous maintenez Espace ou le bouton Parler.</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Lambert transcrit ce que vous lui dites pour vous répondre.</string>
</dict>
</plist>
